<ion-header>
    <ion-toolbar color="header">
                 
            <ion-icon padding 
                      slot="end" 
                      name="logo-youtube"></ion-icon>
                      
        <ion-title id="textoHeader">Personajes Míticos</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

       
   

    
<div id="tarjeta" *ngFor="let personaje of personajes">
     <h3 id="titulo">{{personaje.nombre}}</h3>
       <img src="{{personaje.imagen}}" width=50% height=70%>
    <hr>
    
     <h2 id="enlace" (click)="abrirurl(personaje.url, '_self')">
        <ion-img src="assets/imagenes/youtube.png"></ion-img>
     </h2>
    
       <button class="button"
               [routerLink]="personaje.redirectTo">Frases</button>
    

</div>   
 

</ion-content>